@using (var db = new DatabaseContext())
{
	var filters = db.LogsFilters
		.Select(x => new { x.Id, x.Name, x.Allow, x.Description  })
		.ToList();

	<div class="view-caption">
		<div>
			<b>Фильтры сообщений от станций</b>
		</div>
		<div>
			<a href="#/filters/create" class="button">Добавить</a>
		</div>
	</div>
	<div class="view-table-header">
		<div>
			<span style="width: 40%;">Название</span>
			<span>Описание</span>
			<span style="width: 12em;">Разрешающий?</span>
		</div>
	</div>
	<div class="view-table-body">
		@foreach (var x in filters)
		{
			<a href="#/filters/details/@x.Id">
				<span style="width: 40%;">
					<span>@x.Name</span>
				</span>
				<span>
					<span>@x.Description</span>
				</span>
				<span style="width: 12em;">
					@if (x.Allow)
					{
						<span class="led led-on">Да</span>
					}
					else
					{
						<span class="led led-off">Нет</span>
					}
				</span>
			</a>
		}
	</div>
}
