* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 2em;
    width: 60em;
}

a {
    color: #077be7;
    font-weight: bold;
    text-decoration: none;
}

    a:visited {
        color: #077be7;
    }

    a:hover {
        text-decoration: underline;
    }

h1 > a {
    color: #222;
}

h2,
h3 {
    margin-top: 2em;
}

    h2 > a,
    h3 > a {
        color: #003261 !important;
    }

b {
    color: #077be7;
}

i {
    color: #c72b04;
    font-weight: bold;
}

li {
    padding: .4em 0;
    font-weight: bold;
}

ol ul li {
    padding: 0;
}

p {
    margin: 1em 0;
    font-weight: normal;
}

img {
    margin: .5em 0;
    border: .2em solid #000;
    max-width: 120%;
}

span {
    color: #c72b04;
    font-size: .6em;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: .4em;
}

td {
    border: 1px solid #ccc;
    padding: .4em;
}
