* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

body {
	font-size: 11pt;
	margin: 0;
}

.panel-el {
	padding: .5em;
	cursor: pointer;
}

	.panel-el.active {
		background: #b0e2ff;
	}

.panel-el:hover {
	background: #ddd;
}

.panel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 18em;
	background: #eee;
	border-right: 1px solid #ddd;
	box-shadow: 1px -2em .5em 0 #ddd;
	padding: .5em;
	overflow-y: auto;
}

.panel-title {
	display: block;
	padding: .6em .5em;
	font-weight: lighter;
	font-size: 1.25em;
	color: #000;
	text-decoration: none;
}

.panel-input {
	margin: .7em 0;
}

	.panel-input > select {
		width: 100%;
		padding: .2em .3em;
		border-color: #ccc;
	}

.node > .node-caption {
	cursor: pointer;
	padding: 0.3em;
	position: relative;
}

	.node > .node-caption:hover {
		background: #ddd;
	}

.node-body {
	display: none;
	margin-left: 22px;
}

.node.open > .node-body {
	display: block;
}

.node.active > .node-caption {
	background: #b0e2ff;
}


.view {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 18em;
	padding: 1em;
	overflow-y: auto;
}

	.view > * {
		font-size: .9em;
	}

div.value {
	display: table;
	width: 100%;
}

div.value > * {
	display: table-cell;
}


.container:first-child {
	margin-bottom: 2em;
}

.container-expand-button {
	padding: 2px 3px 2px 0;
	cursor: pointer;
}

.container-expand-button:hover { 
	background: #eee;
}

.container-expand-caption {
	font-weight: 500;
	margin-bottom: 5px;
	display: inline-block;
}

.container-data {
	overflow: auto;
	resize: vertical;
	border: 1px solid #eee;
}

	.container input,
	.container select {
		margin-right: .8em;
		border: 1px solid #ccc;
		padding: .2em .4em;
	}

	.container button {
		border: 1px solid #ccc;
		background: #eee;
		padding: .25em .4em;
		margin-right: .2em;
	}

		.container button:hover {
			background: #fff;
			cursor: pointer;
		}


	.container table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}

	.container .devices {
		margin-bottom: 0.4em;
	}

		.container .devices div {
			padding: .1em;
		}

	.container > table td {
		padding-bottom: 5px;
	}

label {
	font-size: .9em;
	padding: 0 1em;
	display: inline-block;
}

.sub {
	/* border: 1px solid #ddd; */
	padding: 0.4em;
	/* box-shadow: inset 0 0 3px 0 #ddd; */
}

th {
	padding: 0 .8em;
	font-weight: lighter;
	text-align: left;
	cursor: default;
}

.sub tr:hover {
	background: #eee;
}

td {
	vertical-align: top;
}

	td.type1 {
		color: #888;
	}

	td.type2 {
		color: #00a0ff;
		font-weight: 600;
	}

	td.type3 {
		color: #f03232;
		font-weight: 600;
	}

input:focus,
select:focus,
button:focus {
	outline: 1px solid #ccc;
}

#device-logs {
	height: 12em;
	overflow-y: auto;
}

#device-configuration {
	/* max-height: 20em; */
	/* overflow-y: auto; */
}

	#device-configuration span {
		color: #0399c7;
	}

	#device-configuration input {
		border: 0;
		box-shadow: none;
		border-bottom: 1px solid #ccc;
	}

	#device-configuration p {
		margin: 0;
		margin-left: 2em;
	}

div[type="value"] {
	display: table;
	width: 99%;
}

	div[type="value"] > div:first-child {
		width: 25%;
	}

	div[type="value"] > div {
		display: table-cell;
	}

#device-fields {
	overflow-y: auto;
	max-height: 35em;
}

div.closed {
	display: none;
}


.ic {
	display: inline-block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin-bottom: -0.4em;
	margin-right: 0.3em;
}

.ic-expand-less {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAfElEQVRIie3UMQ6CQBCF4S/aeBe9gcfAWryFFhaU3Mt4GY+ggBaSbEdYcBNM9q9n3v+KyZDJzGU9cu6CPe4pSmzR4I1zCgEUePaS6q8lB7wWJVlNEHR9OGwm7A9yFC6q+nV4mTL8hDZV+E5oXscuj3kVD9/2N1xjBZnMfD6n2x+7yQlB3gAAAABJRU5ErkJggg==');
}

.ic-expand-more {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAdUlEQVRIie2OuQ2AMBAEx4h+qAcSQiiDwAEF0C2PSdYSgQEJTIJuopNvvHtgGMYdVSYniQc2oL9wejn+TCguPpeAAyagTuwb7ZzcRwxA0JXd4T1eHuS8IpasQKuibOGRUYEzsGgec4VHBgVnvTxV8lm4YfyVHTo/GqWtBpcxAAAAAElFTkSuQmCC');
}

.ic-menu {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAH0lEQVR4AWOgOhgFo+A/NTDdLRgFo5E8CkYjeRSMAgCpQmuVzINNbAAAAABJRU5ErkJggg==') no-repeat;
}

.ic-pause {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABH0lEQVR4Ad2TAQQCQRBFB4dDCBDCAQIAhLBACADhEEIIABDgACEABAgAASCEECBACIdDCBAg1MePcdbYawX3eWhmdv5ssyetVwLGYAvOoCQnsAFOIjQBV/C2oPGo6dSFanADKzAEGXGsubPmBZYSqHXtUGLUpnqYEJOpau4kXLk6N7KmKVk4l+Yq1E68mrHg4sm9ifc3laqdeG+/N6Y3DTy32IhHFZNZhIFj/CRWkwiDjPHyXwZ9xiupSy2oF2EwtF7Sgck8wmDF+FY8WjB5/NEgATfGx+JRFzxYMJHmWvLslWZm0RMMJFwOvEKH2ymTkJvMVfNCAtT5mqid5LXXlbHxRdWtQdL0P+VOTEowlR/V5es6fL8TUoE9mIFUWq0Pa3CPiNvsodoAAAAASUVORK5CYII=');
}

.ic-play {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABNUlEQVR4Ad3SAUQDURjA8XAYQoAwDBACQAgHDANAGIYhDAAQ4BBCAAghAASAEIYBQghhGIYBBjh8/XDg7nbvTGB/fsB7Pu/zzk6+jDEvrFhXljyTc3QTfoiEFbf0LqMgKr88cMOoklOwJShZ0Kun2qWMQw0oCEgPuSMoyenblKDsWteANcGcekO6KghWtDYj+KKtHePEurYEOY3eCea0FZVHssQrnmm0IRh1DoAlQ+rlBEsaBRwsatpWNiJY/8eAfcs6hwQbGm0JLkkN+OaaejddP+mDYJoY8Mo5bT0QvNDonuCTtvbMOFTGL8GYRhfsCCbUu6arBcEPWerQniv6llMSTOjsjWDPhFRzSoKCZOe8EZVPprXfNWLOF1F5IqN3C3ZEwpo7juqCez7YEpUN78wYcML9AcTTif4we5ExAAAAAElFTkSuQmCC');
}

.ic-plus {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAJklEQVR4AWNAB6NgFPwH4VELRi0gziByMO0tIA+MRvKoBaNgFAAATLszzVdA48kAAAAASUVORK5CYII=');
}

.ic-edit {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAYklEQVR4AWOgBxgF/kA8H4iTaWF4MBD/BuL/UJxPbQu64YYjcDK1XG4DZfejWTCfWsHyGd0SqLg/1cIczZJukDwVDce0hDqGU27BqOGjhlMCaG04A60NZ6C14QxYDac1GAUActhqxrpCyEAAAAAASUVORK5CYII=') no-repeat;
}

.ic-warning {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABF0lEQVR4Ad3SAUQDURzH8XAYQoAQBggAEMIB4QAQhnCAAwAEOIQwAASAAAPAMAwDDBCGYRhCGODw74MDu7U7j2BfPsB7fjzv6uLLKPhgxba1ZEpOcgUboseKRwaX8Ua0NrzywLiVU7MnaKgY1PToUsZfjagJ6B95JmjIGdqEoOGRk43YEpScKuBkNcGKk5UEa64SBkbsCXI6zQjKpAGpJpjSaUcwJnUgJ1j2XE4eGBNs/2vgjmBHpz3BLak9nPtJc4IJqb0SfNCpIlgkPlHGhuCJTjd8ExQJAxXBFxlnDx24Z2g5DUHB2T4JDhT0VdIQ1PR2zSfRWjA5+l1jStZE652MwVX8ED22PJPUDRVz9kRrx4wXRlxwv8aZf8CUFvlVAAAAAElFTkSuQmCC');
}

.ic-person {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAmElEQVR4Ae3NgQXDQBhA4YwQFBAcOkBQQPfoGB0lAxwyQJEBDkUHCIICMsIhgMPfh4JwkvQ/jXCPD8ArDlOugsWAHg1KJMnAQ2bGVJMOEtFAnYdE9FA3QSLeUOcgERbqagTIjEeFJNVwmODRwaDIGdzxwIDx64UWN5TY3AUOskKAxQmruiJANvI4Y7En5EctFhOl/Qe5//YB7hF/V+BLowMAAAAASUVORK5CYII=') no-repeat;
}

.ic-inline {
	position: absolute;
	right: 0;
}