.header {
	margin-bottom: 1em;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

.header-title,
.header-buttons {
	display: flex;
	align-items: center;
}

.header-icon {
	font-size: 1.5em;
	margin-right: .5em;
}

.header-buttons button + button {
	margin-left: .5em;
}