.form-item {
	margin-bottom: .5em;
}

.form-item span {
	display: block;
	margin-bottom: 2px;
	font-size: .9em;
}

.form-item .ant-select {
	width: 100%;
}

.form-caption {
	margin-top: 1em;
	padding-left: 1em;
}