/* #region App */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
	margin-bottom: 1em;
	font-weight: 500;
	font-size: large;
	color: #4096ff;
	text-decoration: none;
}

.offline {
	padding: 1em;
}

/* #endregion */


/* #region Content */

.header {
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.header > div {
	display: table-cell;
}

.header button + button {
	margin-left: .5em;
}

.header-left {
	text-align: left;
	width: 12em;
}

.header-right {
	text-align: right;
}

.header-center {
	text-align: center;
}

.header-center i {
	font-size: 1.3em;
	vertical-align: middle;
}

/* #endregion */

@media (color-scheme: dark) {

	.title {
		color: #33a2ff;
	}
}

.form-subtable {
	width: 100%;
}

.form-subtable td {
	padding: .25em .5em;
}

.form-subtable td div {
	margin-bottom: 0;
}

.app-two-items {
	width: 100%;
}

.app-two-items > * {
	padding: .25em 1em;
}

.notify-dark {
	background: #222;
}

.notify-dark .ant-notification-notice-message,
.notify-dark .ant-notification-notice-description,
.notify-dark .ant-notification-notice-close {
	color: #fff !important;
}

.dark * {scrollbar-color: #444 #111;
}