.tree {
	position: absolute;
	top: 4em;
	bottom: 0;
	left: 0;
	width: 25em;
	overflow-y: auto;
	padding-right: 1px;
}

.tree-sub {
	display: none;
}

.tree-sub.tree-sub-opened {
	display: inherit;
}

.tree-item {
	display: table;
	width: 100%;
	user-select: none;
	color: #000;
	text-decoration: none;
}

.tree-item:hover {
	background: #e7f0ff;
}

.tree-item > * {
	display: table-cell;
	padding: .4em .3em;
}

.tree-item i {
	text-align: right;
	vertical-align: middle;
	font-size: 1.3em;
	width: 1.75em;
}

.tree-item i + i {
	padding: 0;
}

.tree-item:hover > * {
	color: #0074d5;
	cursor: pointer;
}

.tree .tree-sub .tree-item i:first-child {
	width: 3.5em;
}

.tree .tree-sub .tree-sub .tree-item i:first-child {
	width: 4.75em;
}

.tree .tree-sub .tree-sub .tree-sub .tree-item i:first-child {
	width: 6em;
}

.tree .tree-sub .tree-sub .tree-sub .tree-sub .tree-item i:first-child {
	width: 7.25em;
}

.tree .tree-sub .tree-sub .tree-sub .tree-sub .tree-sub .tree-item i:first-child {
	width: 8.5em;
}

.tree-item.active a,
.tree-item.active i,
.tree-item.active span {
	color: #0074d5;
}