.header {
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.header > div {
	display: table-cell;
}

.header-left {
	text-align: left;
	width: 12em;
}

.header-right {
	text-align: right;
}

.table {
	display: table;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #ddd;
	border-radius: .5em;
	transition: border-color ease .25s;
}

.table:hover {
	border-color: #4096ff;
}

.table-caption {
	display: table-caption;
	padding: 0 .5em .5em;
}

.table-header {
	display: table-row;
	text-decoration: none;
	color: #000;
}

.table-header > span {
	display: table-cell;
	padding: .5em 1em;
	text-align: left;
	font-weight: 500;
}

.table-row {
	display: table-row;
	text-decoration: none;
	color: #000;
	border: 1px solid transparent;
}

.table .table-row + :not(.table-row) span:first-child {
	border-top-left-radius: .5em;
}

.table .table-row + :not(.table-row)  span:last-child {
	border-top-right-radius: .5em;
}

.table .table-row:last-child span:first-child {
	border-bottom-left-radius: .5em;
}

.table .table-row:last-child span:last-child {
	border-bottom-right-radius: .5em;
}

.table-row:hover {
	background: #e7f0ff;
}

.table-row > span {
	display: table-cell;
	padding: .5em 1em;
	text-align: left;
	border: 1px solid transparent;
}

.form-row {
	margin-bottom: 1em;
}

.form-row span {
	display: block;
	font-size: .9em;
	margin-bottom: .25em;
}