@using (var db = new DatabaseContext())
{
	var configs = db.StationsConfigs
		.ToList();

	<div class="view-caption">
		<div>
			<b>Список конфигураций</b>
		</div>
		<div>
			<a href="#/configs/create" class="button">Добавить</a>
		</div>
	</div>
	<div class="view-table-header">
		<div>
			<span style="width: 30%;">Название</span>
			<span>Описание</span>
		</div>
	</div>
	<div class="view-table-body">
		@foreach (var x in configs)
		{
			<a href="#/configs/details/@x.Id">
				<span style="width: 30%;">
					<span>@x.Name</span>
				</span>
				<span>
					<span>@x.Description</span>
				</span>
			</a>
		}
	</div>
}
