/* #region App */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1em;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
	margin-bottom: 1em;
	font-weight: 500;
	font-size: large;
	color: #4096ff;
	text-decoration: none;
}

.offline {
	padding: 1em;
}

/* #endregion */


/* #region Content */

.header {
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.header > div {
	display: table-cell;
}

.header button + button {
	margin-left: .5em;
}

.header-left {
	text-align: left;
	width: 12em;
}

.header-right {
	text-align: right;
}

.header-center {
	text-align: center;
}

.header-center i {
	font-size: 1.3em;
	vertical-align: middle;
}

.table {
	display: table;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #ddd;
	border-radius: .5em;
	transition: border-color ease .25s;
}

.table:hover {
	border-color: #4096ff;
}

.table-caption {
	display: table-caption;
	padding: 0 .5em .5em;
}

.table-header {
	display: table-row;
	text-decoration: none;
	color: #000;
}

.table-header > span {
	display: table-cell;
	padding: .5em 1em;
	text-align: left;
	font-weight: 500;
}

.table-row {
	display: table-row;
	text-decoration: none;
	color: #000;
	border: 1px solid transparent;
}

.table .table-row + :not(.table-row) span:first-child {
	border-top-left-radius: .5em;
}

.table .table-row + :not(.table-row)  span:last-child {
	border-top-right-radius: .5em;
}

.table .table-row:last-child span:first-child {
	border-bottom-left-radius: .5em;
}

.table .table-row:last-child span:last-child {
	border-bottom-right-radius: .5em;
}

.table-row:hover {
	background: #e7f0ff;
}

.table-row > span {
	display: table-cell;
	padding: .5em 1em;
	text-align: left;
	border: 1px solid transparent;
}

.form-row {
	margin-bottom: 1em;
}

.form-row > span {
	display: block;
	font-size: .9em;
	margin-bottom: .25em;
}

/* #endregion */

@media (prefers-color-scheme: dark) {

	:root {
		color-scheme: dark;
	}

	/* #region App */

	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		line-height: 1em;
		-moz-osx-font-smoothing: grayscale;
		color: white;
	}

	.title {
		color: #33a2ff;
	}

	/* #endregion */



	/* #region Content */

	.table {
		border: 1px solid #333;
		color: #fff;
	}

	.table:hover {
		border-color: #333;
	}

	.table-header {
		color: #fff;
	}

	.table-row {
		color: #eee;
	}

	.table-row:hover {
		background: #333;
	}

	.table-row > span {
		display: table-cell;
		padding: .5em 1em;
		text-align: left;
		border: 1px solid transparent;
	}

	.form-row {
		margin-bottom: 1em;
	}

	.form-row > span {
		display: block;
		font-size: .9em;
		margin-bottom: .25em;
	}

	/* #endregion */
}