.table {
	display: table;
	border-collapse: collapse;
	width: 70em;
	max-width: 100%;
	font-size: .9em;
}

.table > * {
	display: table-row-group;
}

.table > * > * {
	display: table-row;
}

.table > * > * > * {
	display: table-cell;
}

.table-header > * {
	padding: .5em .3em;
	border-bottom: 1px solid #eee;
	font-weight: 500;
	text-align: left;
}

.table-body > * {
	text-decoration: none;
	color: #000;
}

.table-body > *:hover {
	color: #4096ff;
	cursor: pointer;
}

.table-body > * > * {
	padding: .5em .3em;
}