@model int

@using (var db = new DatabaseContext())
{
	var channel = db.Channels
		.FirstOrDefault(x => x.Id == Model);

	if (channel == null)
	{
		<div>
			Канал с Id = @Model не найден
		</div>
		return;
	}

	<div>
		<div>
			<span>Имя</span>
		</div>
		<div>
			<input name="@nameof(channel.Name)" type="text" value="@channel.Name" />
		</div>
	</div>
	<div>
		<div>
			<span>Тип</span>
		</div>
		<div>
			<select name="@nameof(channel.Name)">
				<option value="web">Веб-консоль</option>
				<option value="telegram">Telegram</option>
			</select>
		</div>
	</div>

	<div>
		<button></button>
		<button></button>
	</div>
}
